{% extends '::master.html.twig' %}
{% block content %}
    <script>
        function calcul(){
            var compt =0;
            var total=0;
            var elements = document.getElementsByTagName('input');
            var elementsh2 = document.getElementsByTagName('h2');

            for (var i = 0; i < elements.length; i++) {
               if( elements[i].classList.contains(1) &&  elements[i].checked){
                    compt++;
                }
            }
            for (var i = 0; i < elementsh2.length; i++) {
                total++;
            }
            var str ="<p> Vous avez "+compt+"/"+total+" réponses </p>";
            $("#nbrReponse").append(str);

        }
    </script>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Resultat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="nbrReponse" class="modal-body">

                </div>
                <div class="modal-footer">

                    <a href="/listform"> <button type="button" class="btn btn-primary">Accueil</button></a>
                </div>
            </div>
        </div>
    </div>




    <div class="well">
    <div class="container-fluid" style="text-align: center">
    <div class ="row">

       <h1> {{ formulaire.title }} </h1>
        {% for question in formulaire.questions %}

            <div class="row">


          <h2>{{ question.q }}</h2>
            {% for reponse in question.reponses  %}

                <div class="row">
                    <div class="col-md-10">

                        {{ reponse.r }}
                    </div>
                    <div class="col-md-2">
                        <input class="{{ reponse.valid }}" id="{{ reponse.id }}" type="radio" name="{{ question.id }}" />

                    </div>

                </div>


            {% endfor %}

            </div>

        {% endfor %}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" onclick="calcul()" data-toggle="modal" data-target="#myModal">
           Corriger
        </button>


        </div>

    </div>
    </div>





{% endblock %}