{% extends '::master.html.twig' %}
{% block content %}
    <script>
        function calcul(){
            var compt =0;
            var elements = document.getElementsByTagName('input');

            for (var i = 0; i < elements.length; i++) {
               if( elements[i].classList.contains(1) &&  elements[i].checked){
                    compt++;
                }
            }
        return compt;
        }
    </script>
    <div class="well">
    <div class="container-fluid" style="text-align: center">
    <div class ="row">

       <h1> {{ formulaire.title }} </h1>
        {% for question in formulaire.questions %}

            <div class="row">


          <h2>{{ question.q }}</h2>
            {% for reponse in question.reponses  %}

                <div class="row">
                    <div class="col-md-10">

                        {{ reponse.r }}
                    </div>
                    <div class="col-md-2">
                        <input class="{{ reponse.valid }}" id="{{ reponse.id }}" type="radio" name="{{ question.id }}" />

                    </div>

                </div>


            {% endfor %}

            </div>

        {% endfor %}

            <input type="button" onclick="calcul()" class="input_button" value="Corriger" />

    </div>
    </div>

</div>


{% endblock %}