{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
    <div class="container-fluid" style="text-align: center">
    <div class ="row">


       <h1> {{ formulaire.title }} </h1>

        <form action="{{ path('validation_status') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}



        {% for question in formulaire.questions %}

            <div class="row">


          <h2>{{ question.q }}</h2>
            {% for reponse in question.reponses  %}

                <div class="row">
                    <div class="col-md-10">

                        {{ reponse.r }}
                    </div>
                    <div class="col-md-2">
                        <input class="{{ reponse.valid }}" id="{{ reponse.id }}" type="radio" name="{{ question.id }}" />

                    </div>

                </div>


            {% endfor %}

            </div>

        {% endfor %}

            <input class="input_button" type="submit" value="Search" />

    </div>
    </div>

</div>


{% endblock %}